/* src/global.css or src/BackgroundWrapper.css */
body::before {
    content: "";
    background-image:   url("./assets/background.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 0.2;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
  }
  
  body {
    height: 100%;
    margin: 0;
  }
  
